<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{%endblock%} - brianbove.com</title>
    <meta charset="utf-8">
    <meta name="description" content="Brian Bove | engineer + developer">
    <meta name="author" content="Brian Bove">
    <meta name="keywords" content="Brian, Bove, engineer, developer, data, resume, CV, python, C++, C, asm, SQL, NoSQL, JavaScript, node.js, embedded development, embedded, microcontrollers, AVR, ARM, STM32, motor control, BLDC, field oriented control, math, science">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>
<body>
  <div class="container">
    <div class="header">
      <a class='title' href="/">brianbove.com</a>
      <a href="{{url_for('home')}}">home</a>
      <a href="{{url_for('page', path='about')}}">about</a>
      <a href="{{url_for('blog')}}">blog</a>
      <a href="{{url_for('page', path='contact')}}">contact me</a>
      <a href="{{url_for('page', path='projects')}}">projects</a>
      <a href="{{url_for('page', path='resume')}}">resume</a>
    </div>

    <div class="content">
    {% block content %}
    {%endblock%}
    </div>

    <div class="footer">
      Brian Bove <br/>
      Electrical and Computer Engineer <br/>
      <a href='https://www.github.com/bmbove'><span class='github-icon'></span> bmbove</a> </br>
      <a href='mailto:bmbove@gmail.com'>(email) bmbove@gmail.com</a>
    </div>
  </div>
</body>
</html>
